 <main class="d-flex justify-content-center align-itens-center" style="width: 100%;">
    <section id="card_endgame" class="d-flex flex-column justify-content-center align-itens-center">
        <p class="fs-2">Você chegou ao fim do Quiz!</p>
        <p class="fs-3 mt-2" id="score"><strong> </strong></p>
        <a id="button_restart" href="/perguntas">Recomeçar</a>
    </section>
</main>
