 <main class="d-flex justify-content-center align-itens-center" style="width: 100%;">
    <section id="card_endgame" class="d-flex flex-column justify-content-center align-itens-center">
        <p class="fs-2">Você chegou ao fim do Quiz!</p>
        <strong><p class="fs-3 mt-2" id="score"></p></strong>
        <a id="button_restart" href="/perguntas">Recomeçar</a>
    </section>
</main>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const correctAnswers = urlParams.get('score');
    document.getElementById('score').textContent = `Você acertou ${correctAnswers} de 5 perguntas!`; 
</script>