<main class="container d-flex flex-row justify-content-between align-items-center mt-2 gap-5 container-fluid">
    <div id="div_text_home">
        <p id="text_home">Você acha que domina a <strong> programação? </strong>Teste seus limites e desvende os desafios deste quiz!</p>
    </div>
    <a id="button_play" href="/perguntas">Jogar!</a>      
</main>  