@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Noto+Znamenny+Musical+Notation&family=Roboto&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Work+Sans&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:"Ubuntu Sans Mono", monospace;
}

strong {
    font-weight: 400;    
    text-decoration: underline;
    text-decoration-color:#080b1a;
}

/* HEADER */

#title_header {
    font-size: 3.4em;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#title_header:hover {
    color: #eeeeee;
}

/* MAIN */
 
main {
    width: 34rem;
}

#text_home {
    font-size: 4rem;
    color: #080b1a;
}

#text_home_sub {
    font-size: 4rem;
}

#button_play {
    font-size: 2.6rem;
    padding: 1rem;
    border-radius: 10px;
    width: 20rem;
    text-align: center;
    text-decoration: none;
    color: #080b1a;
    background-color: white;
    border: 5px solid #080b1a;
    margin-top: 8rem;
    
}

#button_play:hover {
    background-color: #eeeeee;
}

#div_text_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    margin-top: 7rem;
}

/* CONTAINER PERGUNTA */
#container_questions {
    width: 50rem;
    height: 35rem;
    margin-top: 4.2rem;
    border: 2px solid #080b1a;
    border-radius: 10px;
    border-right-width: 4px;   
    border-bottom-width: 4px;
    padding: 2rem;
    text-align: center;
}

#title_question {
    margin-bottom: 3rem;
    color: #080b1a;
}

#button_question {
    width: 28rem;
    border: 2px solid #080b1a;
    border-radius: 10px;
    background-color: white;
    color: #080b1a;
    margin: auto;
    padding: 1rem;    
}

#button_question:hover {
    background-color: #eeeeee;
}

#button_question_correct {
    width: 28rem;
    border: 2px solid #080b1a;
    border-radius: 10px;
    background-color: white;
    color: #080b1a;
    margin: auto;
    padding: 1rem;    
}

#button_question_correct:hover {
    background-color: #eeeeee;
}

/* CARD ENDGAME */
#card_endgame {
    width: 50rem;
    height: 35rem;
    margin-top: 4.2rem;
    border: 2px solid #080b1a;
    border-radius: 10px;
    border-right-width: 4px;   
    border-bottom-width: 4px;
    padding: 2rem;
    text-align: center;
}

#score {
    font-size: 1.8rem;
}

#button_restart {
    width: 25rem;
    border: 2px solid #080b1a;
    border-radius: 10px;
    background-color: white;
    color: #080b1a;
    margin: auto;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.6rem;   
}

#button_restart:hover {
    background-color: #eeeeee;
}

#button_sharer {
    width: 24rem;
    border: 2px solid #080b1a;
    border-radius: 10px;
    background-color: white;
    color: #080b1a;
    margin: auto;
    padding: 1rem;
    text-decoration: none;
}

#button_sharer:hover {
    background-color: #eeeeee;
}

/* MEDIAS QUERIES */

@media (max-width: 992px) {
    /* HOME */
    #title_header {
        font-size: 3em;
    }

    #main_home {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #div_text_home {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 470px;
        width: 570px;
        margin-top: 2rem;
    }

    #text_home {
        font-size: 2.9rem;
        margin-top: 6rem;
    }

    #text_home_sub {
        font-size: 2.9rem;
        margin-bottom: 20px;
    }
    
    #button_play {
        font-size: 2rem;
        padding: 0.5rem;
        width: 20rem;
        margin: 0px 0px 60px 0px;
    }

    /* PERGUNTAS */
    #container_questions {
        width: 33rem;
        height: 38rem;
        margin-top: 2rem;
    }

    #title_question {
        margin-top: 1rem;
        font-size: 1.8rem;
    }

    #button_question {
        width: 22rem;
        font-size: 1rem;
        margin: auto;    
    }
    
    #button_question_correct {
        width: 22rem;
        font-size: 1rem;
        margin: auto;    
    }

    /* CARD ENDGAME */
    #card_endgame {
        width: 33rem;
        height: 38rem;
        margin-top: 2rem;
    }

    #score {
        font-size: 1.7rem;
    }

    #button_restart {
        width: 20rem;
        font-size: 18px;
        margin: auto;       
    }

    #button_sharer {
        width: 19rem;
        font-size: 16px;
        margin: auto;
        padding: 1rem;      
    }
}


@media (max-width: 768px) {
    /* HOME */
    #title_header {
        font-size: 3em;
    }

    #main_home {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #div_text_home {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 450px;
        width: 500px;
        margin-top: 2rem;
    }

    #text_home {
        font-size: 2.7rem;
        margin-top: 6rem;
    }

    #text_home_sub {
        font-size: 2.7rem;
        margin-bottom: 20px;
    }
    
    #button_play {
        font-size: 2rem;
        padding: 0.5rem;
        width: 20rem;
        margin: 0px 0px 60px 0px;
    }

    /* PERGUNTAS */
    #container_questions {
        width: 33rem;
        height: 38rem;
        margin-top: 2rem;
    }

    #title_question {
        margin-top: 1rem;
        font-size: 1.8rem;
    }

    #button_question {
        width: 22rem;
        font-size: 1rem;
        margin: auto;    
    }
    
    #button_question_correct {
        width: 22rem;
        font-size: 1rem;
        margin: auto;    
    }

    /* CARD ENDGAME */
    #card_endgame {
        width: 33rem;
        height: 38rem;
        margin-top: 2rem;
    }

    #score {
        font-size: 1.7rem;
    }

    #button_restart {
        width: 20rem;
        font-size: 18px;
        margin: auto;       
    }

    #button_sharer {
        width: 19rem;
        font-size: 16px;
        margin: auto;
        padding: 1rem;      
    }
}


@media (max-width: 576px) {
    /* HOME */
    #title_header {
        font-size: 3em;
    }

    #main_home {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #div_text_home {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 440px;
        width: 450px;
        margin-top: 2rem;
    }

    #text_home {
        font-size: 2.3rem;
        margin-top: 6rem;
    }

    #text_home_sub {
        font-size: 2.3rem;
        margin-bottom: 20px;
    }
    
    #button_play {
        font-size: 2rem;
        padding: 0.5rem;
        width: 18rem;
        margin: 0px 0px 60px 0px;
    }

    /* PERGUNTAS */
    #container_questions {
        width: 30rem;
        height: 35rem;
        margin-top: 2rem;
    }

    #title_question {
        margin-top: 1rem;
        font-size: 1.7rem;
    }

    #button_question {
        width: 20rem;
        font-size: 0.9rem;
        margin: auto;    
    }
    
    #button_question_correct {
        width: 20rem;
        font-size: 0.9rem;
        margin: auto;    
    }

    /* CARD ENDGAME */
    #card_endgame {
        width: 30rem;
        height: 35rem;
        margin-top: 2rem;
    }

    #score {
        font-size: 1.6rem;
    }

    #button_restart {
        width: 18rem;
        font-size: 18px;
        margin: auto;       
    }

    #button_sharer {
        width: 17rem;
        font-size: 16px;
        margin: auto;
        padding: 1rem;      
    }
}


@media (max-width: 425px) {
    
  /* HOME */
    header {
    height: 6rem;
 }

    footer {
    height: 2rem;
 }

    #title_header {
    font-size: 2.3em;
 }

    #main_home {
    display: flex;
    flex-direction: column;
    gap: 0;
 }

    #div_text_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
    height: 420px;
    width: 380px;
    margin-top: 1rem;
 }

    #text_home {
    font-size: 33px;
    margin-top: 6rem;
 }

    #text_home_sub {
    font-size: 33px;
    margin-bottom: 20px;
 }

#button_play {
    font-size: 2rem;
    padding: 0.5rem;
    width: 16rem;
    margin: 0;
}

/* PERGUNTAS */
    #container_questions {
    width: 24rem;
    height: 35rem;
    margin-top: 2rem;
 }

    #title_question {
    margin-top: 1rem;
    font-size: 1.4rem;
 }

    #button_question {
    width: 100%;
    font-size: 0.9rem;
    margin: 0px 0px 10px 0px;    
 }

    #button_question_correct {
    width: 100%;
    font-size: 0.9rem;
    margin: 0px 0px 10px 0px;    
 }

/* CARD ENDGAME */
    #card_endgame {
    width: 24rem;
    height: 35rem;
    margin-top: 2rem;
 }

    #score {
    font-size: 1.3rem;
 }

    #button_restart {
    width: 17rem;
    font-size: 14px;
    margin: auto;       
 }
    #button_sharer {
    width: 16rem;
    font-size: 13px;
    margin: auto;
    padding: 1rem;      
 }
}
